						<form class="form" role="form" id="usuarioForm" th:object="${usuarioForm}" th:action="${editUserMode} ? @{/admin/editUsuario} : @{/admin/usuarioForm}" method="post" autocomplete="off">
							<!--Es necesario para poder pasar la validacion del Model-->
							<input class="form-control" type="hidden" th:field="${usuarioForm.id}" th:if="${editUserMode}">
							<input class="form-control" type=hidden name="password" th:value="xxxx" th:if="${editUserMode}">
							<input class="form-control" type=hidden name="especialidad" th:value="xxxx" th:if="${editUserMode}">
							<!--<input class="form-control" type=hidden name="roles" th:value="xxxx" th:if="${editUserMode}">-->
							
							<div class="form-group row">
								<label class="col-lg-3 col-form-label form-control-label">Nombre</label>
								<div class="col-lg-9">
									<input class="form-control" type="text" th:field="${usuarioForm.nombre}">
									<div class="alert-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}">Name Error</div>
								</div>
							</div>
							<div class="form-group row">
								<label class="col-lg-3 col-form-label form-control-label">Apellido</label>
								<div class="col-lg-9">
									<input class="form-control" type="text" th:field="${usuarioForm.apellido}">
									<div class="alert-danger" th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}">Name Error</div>
								</div>
							</div>
							<div class="form-group row">
								<label class="col-lg-3 col-form-label form-control-label">Email</label>
								<div class="col-lg-9">
									<input class="form-control" type="email" th:field="${usuarioForm.email}">
									<div class="alert-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Name Error</div>
								</div>
							</div>
							<div class="form-group row">
								<label class="col-lg-3 col-form-label form-control-label">Usuario</label>
								<div class="col-lg-9">
									<input class="form-control" type="text" th:field="${usuarioForm.usuario}">
									<div class="alert-danger" th:if="${#fields.hasErrors('usuario')}" th:errors="*{usuario}">Name Error</div>
								</div>
							</div>
							<div class="form-group row">
								<label th:text="Rol" class="col-lg-3 col-form-label form-control-label"></label>
								<div class="col-lg-9">
									<select th:field="${usuarioForm.rol}" class="form-control" size="3">
										<!--<option th:each="rol :${roles}" th:value="${rol.id}" th:text="${rol.nombre}">
										</option>-->
									  <option value="admin">ADMIN</option>
									  <option value="recepcionista">RECEPCIONISTA</option>
									  <option value="veterinario">VETERINARIO</option>
									</select>
									<div class="alert-danger" th:if="${#fields.hasErrors('rol')}" th:errors="*{rol}">Name Error</div>
								</div>
							</div>
							<div class="form-group row" th:if="${editUserMode ==  null or editUserMode == false}">
								<label class="col-lg-3 col-form-label form-control-label">Especialidad (Sólo Vet.)</label>
								<div class="col-lg-9">
									<!--<input class="form-control" type="text" th:field="${usuarioForm.especialidad}">-->
									<select th:field="${usuarioForm.especialidad}" class="form-control" size="3">
									  <option value="canino">CANINO</option>
									  <option value="felino">FELINO</option>
									  <option value="exotico">EXÓTICO</option>
									</select>
									<div class="alert-danger" th:if="${#fields.hasErrors('especialidad')}" th:errors="*{especialidad}">Name Error</div>
								</div>
							</div>
							<div class="form-group row" th:if="${editUserMode ==  null or editUserMode == false}">
								<label class="col-lg-3 col-form-label form-control-label">Password</label>
								<div class="col-lg-9">
									<input class="form-control" type="password" th:field="${usuarioForm.password}">
									<div class="alert-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Name Error</div>
								</div>
							</div>
							<div class="form-group row" th:if="${editUserMode ==  null or editUserMode == false}">
								<label class="col-lg-3 col-form-label form-control-label">Confirmar password</label>
								<div class="col-lg-9">
									<input class="form-control" type="password" th:field="${usuarioForm.confirmarPassword}">
									<div class="alert-danger" th:if="${#fields.hasErrors('confirmarPassword')}" th:errors="*{confirmarPassword}">Name Error</div>
								</div>
							</div>
							<div class="form-group row">
								<div class="col-lg-12 text-center">
									<a class="btn btn-secondary" th:href="@{'/admin/usuarioForm/cancel'}">Cancelar</a>
									<input type="submit" class="btn btn-primary" value="Save Changes" th:value="${editUserMode} ? 'Guardar cambios' : 'Crear usuario'">
								</div>
							</div>
							<div class="alert alert-danger text-center" th:if="${formErrorMessage}" th:text="${formErrorMessage}">Error Message</div>
						</form>