<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Administrador</title>
	
	<!--JQUERY-->
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	
	<!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
	<link rel="stylesheet"
		href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script 
		src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script 
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	
	<!-- Los iconos tipo Solid de Fontawesome-->
	<link rel="stylesheet"
		href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
	<script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
	
	<!-- Nuestro css-->
	<link rel="stylesheet" type="text/css" href="static/css/vista-usuarios.css"
		th:href="@{/css/vista-usuarios.css}">
	<!-- DATA TABLE -->
	<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css">	
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">

	<script type="text/javascript">
	    $(document).ready(function() {
	        //Asegurate que el id que le diste a la tabla sea igual al texto despues del simbolo #
	        $('#ListaUsuarios').DataTable();
	    } );
	</script>
	<script type="text/javascript">
	    $(document).ready(function() {
	        //Asegurate que el id que le diste a la tabla sea igual al texto despues del simbolo #
	        $('#ListaProductos').DataTable();
	    } );
	</script>
</head>
<body>
	<div class="container">
	<div class="mx-auto col-sm-10 main-section" id="myTab" role="tablist">
		<ul class="nav nav-tabs justify-content-end">
			<li class="nav-item">
				<a class="nav-link active" th:classappend=" ${listUsuarioTab}" id="list-tab" data-toggle="tab" href="#list" role="tab" aria-controls="list" aria-selected="false">Usuarios</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" th:classappend=" ${formUsuarioTab}" id="form-tab" data-toggle="tab" href="#form-usuario" role="tab" aria-controls="form" aria-selected="true">Alta usuario</a>				   	
			</li>
			<li class="nav-item">
				<a class="nav-link" th:classappend=" ${listProductoTab}" id="list-tab" data-toggle="tab" href="#list-productos" role="tab" aria-controls="list" aria-selected="true">Productos</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" th:classappend=" ${formProductoTab}" id="form-tab" data-toggle="tab" href="#form-producto" role="tab" aria-controls="form" aria-selected="true">Alta producto</a>				   	
			</li>
		</ul>
		<div class="tab-content" id="myTabContent">
			<div class="tab-pane fade show active" th:classappend=" ${listUsuarioTab}" id="list" role="tabpanel" aria-labelledby="list-tab">
				<div class="card">
					<div class="card-header">
						<h4>Lista de usuarios</h4>
					</div>
					<div class="card-body">
						<div th:include="admin/lista-usuarios.html" th:remove="tag"></div>
					</div>
				</div>
			</div>
			<div class="tab-pane fade" th:classappend=" ${formUsuarioTab}" id="form-usuario" role="tabpanel" aria-labelledby="form-tab">
				<div class="card">
					<div class="card-header">
						<h4>Alta usuarios</h4>
					</div>
					<div class="card-body">
						<div th:include="admin/form-usuario.html" th:remove="tag"></div>
					</div>
				</div>
			</div>
			<div class="tab-pane fade" th:classappend=" ${listProductoTab}" id="list-productos" role="tabpanel" aria-labelledby="list-tab">
				<div class="card">
					<div class="card-header">
						<h4>Lista de productos</h4>
					</div>
					<div class="card-body">
						<div th:include="admin/lista-productos.html" th:remove="tag"></div>
					</div>
				</div>
			</div>
			<div class="tab-pane fade" th:classappend=" ${formProductoTab}" id="form-producto" role="tabpanel" aria-labelledby="form-tab">
				<div class="card">
					<div class="card-header">
						<h4>Alta productos</h4>
					</div>
					<div class="card-body">
						<div th:include="admin/form-producto.html" th:remove="tag"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>