<!-- Modal -->
<div class="modal fade" id="deleteTurnoModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Eliminar Turno</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        ¿Estás seguro de querer eliminar el turno?<br><br>
        
        Se enviará un mensaje de texto con información al número de contacto
        
        <input type="hidden" id="turnoIdHiddenInput" name="turnoIdHiddenInput"/>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" th:onclick="deleteTurno()">Si, eliminar</button>
      </div>
    </div>
  </div>
</div>