							<div class="table-responsive">
								<table id="listaMascotas" class="table table-bordered table-hover table-striped">
									<thead class="thead-light">
										<tr>
											<th scope="col"></th>
											<th scope="col">Mascota</th>
											<th scope="col">Tipo</th>
											<th scope="col">Dueño</th>
											<th scope="col">Contacto</th>
											<th scope="col">Acción</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="mascota: ${listaMascotas}">
											<td th:text="${mascota.id}"></td>
											<td th:text="${mascota.nombre}"></td>
											<td th:text="${mascota.tipo}"></td>
											<td th:text="${mascota.duenio}"></td>
											<td th:text="${mascota.contacto}"></td>
											<td>
												<a href="#" th:href="@{'/recepcionista/editMascota/'+ ${mascota.id}}"><i class="fas fa-edit"></i></a> 
												| <a href="#" th:onclick="'javascript:confirmDeleteMascota(\''+ ${mascota.id} +'\');'"><i class="fas fa-trash-alt"></i></a>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
							
							<script type="text/javascript">
								function confirmDeleteMascota(id){
									$('#deleteMascotaModal').modal("show");
									$("#mascotaIdHiddenInput").val(id);
								}
								
								function deleteMascota(){
									var id = $("#mascotaIdHiddenInput").val();
								    window.location = "recepcionista/deleteMascota/"+id;
								}
							</script>