<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Recepcionista</title>
	
	<!--JQUERY-->
	<script
		src="https://code.jquery.com/jquery-3.3.1.min.js"
 			integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
 			crossorigin="anonymous"></script>
	
	<!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
	<link rel="stylesheet"
		href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script 
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	
	<!-- Los iconos tipo Solid de Fontawesome-->
	<link rel="stylesheet"
		href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
	<script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
	
	<!-- Nuestro css-->
	<link rel="stylesheet" type="text/css" href="static/css/vista-usuarios.css"
		th:href="@{/css/vista-usuarios.css}">
	<!-- DATA TABLE -->
	<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css">	
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">

	<script type="text/javascript">
	    $(document).ready(function() {
	        //Asegurate que el id que le diste a la tabla sea igual al texto despues del simbolo #
	        $('#listaTurnos').DataTable();
	    } );
	</script>
		<script type="text/javascript">
	    $(document).ready(function() {
	        $('#listaVeterinarios').DataTable();
	    } );
	</script>
		</script>
		<script type="text/javascript">
	    $(document).ready(function() {
	        $('#listaProductos').DataTable();
	    } );
	</script>
		</script>
		</script>
		<script type="text/javascript">
	    $(document).ready(function() {
	        $('#listaMascotas').DataTable();
	    } );
	</script>
	
	<!-- Bootstrap Date-picker -->
	
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"> 
	 <!-- <script src="https://code.jquery.com/jquery-1.12.4.js"></script> -->
	  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	  <script>
	  $( function() {
	    $( "#campofecha" ).datepicker({
		  format: 'dd/mm/yyyy',
	      numberOfMonths: 2,
	      showButtonPanel: true,
	      language: 'sp'
	    });
	  } );
	  </script>
	
</head>
<body>
	<div class="container">
		<div class="mx-auto col-sm-12 main-section" id="myTab" role="tablist">
			<ul class="nav nav-tabs justify-content-end">
				<li class="nav-item">
					<a class="nav-link" th:classappend=" ${listProductoTab}" id="list-tab" data-toggle="tab" href="#lista-productos" role="tab" aria-controls="list" aria-selected="false">Productos</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:classappend=" ${listVeterinarioTab}" id="list-tab" data-toggle="tab" href="#lista-veterinarios" role="tab" aria-controls="form" aria-selected="true">Veterinarios</a>				   	
				</li>
				<li class="nav-item">
					<a class="nav-link" th:classappend=" ${listMascotaTab}" id="list-tab" data-toggle="tab" href="#lista-mascotas" role="tab" aria-controls="form" aria-selected="true">Pets</a>				   	
				</li>
				<li class="nav-item">
					<a class="nav-link" th:classappend=" ${mascotaFormTab}" id="form-tab" data-toggle="tab" href="#form-mascota" role="tab" aria-controls="list" aria-selected="true">Alta Pet</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:classappend=" ${listTurnoTab}" id="list-tab" data-toggle="tab" href="#lista-turnos" role="tab" aria-controls="list" aria-selected="true">Turnos</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:classappend=" ${formTurnoTab}" id="form-tab" data-toggle="tab" href="#form-turno" role="tab" aria-controls="list" aria-selected="true">Otorgar turno</a>
				</li>	
			</ul>
			<div class="tab-content" id="myTabContent">
				<div class="tab-pane fade show" th:classappend=" ${listProductoTab}" id="lista-productos" role="tabpanel" aria-labelledby="list-tab">
					<div class="card">
						<div class="card-header">
							<h4>Lista de productos</h4>
						</div>
						<div class="card-body">
							<div th:include="recepcionista/lista-productos.html" th:remove="tag"></div>					
						</div>
					</div>
				</div>
				<div class="tab-pane fade show" th:classappend=" ${listVeterinarioTab}" id="lista-veterinarios" role="tabpanel" aria-labelledby="list-tab">
					<div class="card">
						<div class="card-header">
							<h4>Lista de veterinarios</h4>
						</div>
						<div class="card-body">
							<div th:include="recepcionista/lista-veterinarios.html" th:remove="tag"></div>
						</div>
					</div>
				</div>
				<div class="tab-pane fade show" th:classappend=" ${listMascotaTab}" id="lista-mascotas" role="tabpanel" aria-labelledby="list-tab">
					<div class="card">
						<div class="card-header">
							<h4>Sweet Pet</h4>
						</div>
						<div class="card-body">
							<div th:include="recepcionista/lista-mascotas.html" th:remove="tag"></div>
						</div>
					</div>
				</div>
				<div class="tab-pane fade show" th:classappend=" ${mascotaFormTab}" id="form-mascota" role="tabpanel" aria-labelledby="form-tab">
					<div class="card">
						<div class="card-header">
							<h4>Alta Pet</h4>
						</div>
						<div class="card-body">
							<div th:include="recepcionista/form-mascota.html" th:remove="tag"></div>
						</div>
					</div>
				</div>
				<div class="tab-pane fade show" th:classappend=" ${listTurnoTab}" id="lista-turnos" role="tabpanel" aria-labelledby="list-tab">
					<div class="card">
						<div class="card-header">
							<h4>Lista de turnos</h4>
						</div>
						<div class="card-body">
							<div th:include="recepcionista/lista-turnos.html" th:remove="tag"></div>
						</div>
					</div>
				</div>
				<div class="tab-pane fade show" th:classappend=" ${formTurnoTab}" id="form-turno" role="tabpanel" aria-labelledby="form-tab">
					<div class="card">
						<div class="card-header">
							<h4>Turno</h4>
						</div>
						<div class="card-body">
							<div th:include="recepcionista/form-turno.html" th:remove="tag"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div>
			<a class="btn btn-danger" id="logout" href="index" role="button">Salir</a>
		</div>
	</div>
	<div th:include="recepcionista/confirm-turno-delete-dialog.html" th:remove="tag"></div>
	<div th:include="recepcionista/confirm-mascota-delete-dialog.html" th:remove="tag"></div>
	<div th:include="recepcionista/confirm-producto-venta-dialog.html" th:remove="tag"></div>
	<div th:include="recepcionista/confirm-turno-delete-all-dialog.html" th:remove="tag"></div>
</body>
</html>