<div class="table-responsive">
								<table id="listaTurnos" class="table table-bordered table-hover table-striped">
									<thead class="thead-light">
										<tr>
											<th scope="col">#</th>
											<th scope="col">Mascota</th>
											<th scope="col">Veterinario/a</th>
											<th scope="col">Especialidad</th>
											<th scope="col">Fecha</th>
											<th scope="col">Horario</th>
											<th scope="col">Realizado</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="turno: ${listaTurnos}">
											<td th:text="${turno.id}"></td>
											<td th:text="${turno.mascota}"></td>
											<td th:text="${turno.veterinario}"></td>
											<td th:text="${turno.especialidad}"></td>
											<td th:text="${turno.fecha}"></td>
											<td th:text="${turno.horario}"></td>
											<td>
												<a href="#" th:onclick="'javascript:confirmDeleteTurno(\''+ ${turno.id} +'\');'"><i class="fas fa-duotone fa-calendar-check"></i></a>	
											</td>
										</tr>
									</tbody>
								</table>
							</div>
							
							<script type="text/javascript">
								function confirmDeleteTurno(id){
									$('#deleteTurnoModal').modal("show");
									$("#turnoIdHiddenInput").val(id);
								}
								
								function deleteTurno(){
									var id = $("#turnoIdHiddenInput").val();
								    window.location = "recepcionista/deleteTurno/"+id;
								}
							</script>